* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: "Lato", serif;
}

body {
    background-color: #F2F5F9;
}
/*wrapper flex*/
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    max-width: 25%;
    background-color: #ffff;
    border-radius: 5%;
}
.title {
    font-family: "Poppins", serif ;
    font-size: 1.5rem;
    color: #111729;
    margin-bottom: 1rem;
}
.content {
    color: #4A5567;
}
.hero {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5%;

}
.title-content {
    padding: 1rem;
    gap: 1rem
}
.overlay {
    position: absolute;
    top: 13rem;
    left:0;
    width: 100%;
}
.footer {
    display: flex;
    gap: 1rem;
    border-top: 1px solid #F2F5F9;
    padding-top: 1rem;
    padding: 1rem;
    align-items: center;
}
.footer img {
    border: 2px solid #F2F5F9;
    border-radius: 50%;
    width: 3rem;
    height: auto;
}
.name-division {
    display: flex;
    flex-direction: column;
}
.name {
    color: #111729;
    font-weight: bold;
}
.division {
    color: #4A5567;
    font-weight: light;
}
@media only screen and (max-width:1024px) {
    .container {
        max-width: 35%;
    }
    .overlay {
        position: absolute;
        top: 40%;
    }
}
@media only screen and (max-width: 640px) {
    .overlay {
        position: absolute;
        top: 35%;
    }
    .container {
        max-width: 50%;
    }
}